.products{
    padding: 40px 0;
}
.products .myItem{
    padding: 170px 10px 10px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(200, 200, 200, 0.3);
    position: relative;

}
.products img{
    border-radius: 50%;
    border: 1px solid red;
    width: 150px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1.5s;
}
.products img:hover{
    top: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.9);
    border: none;
    border-radius: 0%;
}
.products .box{
    padding: 20px;
}
.about p{
    display: inline-block;
    border-radius: 0 200px 0 0;
    background-color: rgba(0, 0, 0, 0.05);
}
.about p:last-child{
    padding-bottom: 50px;;
}