.navbar{
    position: sticky !important;
    width: 100%;
    height: 70px;
    top: 0;
    background-color: #557;
    display: flex;
    align-items: center;
    z-index: 999;
}
.navbar-brand{
    color: #cc0;
    font-weight: 700;
}
.navbar-nav a{
    color: white;
    font-weight: 700;
    transition: 0.5s;
}
.navbar-nav a:hover{
    color: #cc0;
    background-color: rgba(200, 200, 200, 0.5);
}